python-telegram-bot==12.3.0
coloredlogs
pillow
watchdog
https://github.com/sirfz/tesserocr/archive/refs/heads/master.zip
pydub
https://github.com/Polyconseil/zbarlight/archive/refs/heads/master.zip
requests
